@import "./base.css";
@import "tailwindcss";
@import "@nuxt/ui";




:root {
  --ui-container: 100vw;
}

h1 {
    font-size: 2.027rem;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1.2;
}
h2 {
    font-size: 1.802rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
}
h3 {
    font-size: 1.602rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.2;
}
h4 {
    font-size: 1.424rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.2;
}
h5 {
    font-size: 1.266rem;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
}
h6 {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
}
